[flake8]
max-line-length=200
exclude=
    # No need to traverse our git directory
    .git,
    # There's no value in checking these patterns
    .svn,CVS,.bzr,.hg,.git,__pycache__,.tox,
    # ignore media folder
    media
filterwarnings=ignore::FutureWarning
ignore=D,E111,E127,E128,E225,E501,E731,E731,E901,F403,F405,W291,W293,W391